<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402477965531-lpn3fbjm9cke39i5pjamqfvs7iput90b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402477965531-lpn3fbjm9cke39i5pjamqfvs7iput90b</string>
	<key>API_KEY</key>
	<string>AIzaSyAL5x1iVW3m0KwOmE0VMs8-RwLjPD5xlbI</string>
	<key>GCM_SENDER_ID</key>
	<string>402477965531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serkanboyraci.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-fb2bf</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-fb2bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402477965531:ios:db350a21df11aba10a6cfe</string>
</dict>
</plist>